.flex-container{
    display: flex;
    justify-content: center;
}

.flex-container.bottom-header-column{
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
}

.flex-container.bottom-header-column h2, .flex-container.flex-container.bottom-header-column p, .flex-container.flex-container.bottom-header-column button{
    flex: 0 1 auto;
}

.flex-container.top-header h4{
    flex: 2 1 auto;
}

.flex-container.top-header-links h5{
    flex: 1 1 auto;
}

.flex-container.bottom-header img{
    width: 80%;
    height: auto
} 

.flex-container.body1-images div, .flex-container.body1-images p{
    flex: 1 1 auto;
    align-items: center;
}

.flex-container.meme {
    flex-direction: column;
}

.body1-images{
    margin: 0 25vw;
    gap: 1em;
}

.adjust-body1-header{
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.meme p{
    width: 100px;
    margin: 0;
}

.meme img{
    width: 100px;
    height: 100px;
    border: 3.5px solid blue;
    border-radius: 10px;
}

.top-header{
    margin-bottom: 50px;
    margin-left: 10vw;
    margin-right: 10vw;
}

.top-header-links{
    gap: 1em;
}

.bottom-header{
    margin: 0 10vw;
}

.header{
    width: auto;
    height: auto;
    background-color: #1F2937;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 4em;
}

.white-text{
    color: #F9FAF8;
}

.hero-text{
    font-size: 48px;
    font-weight: 900;
}

.blue-bckgrd{
    background-color: #3882F6;
}

#adjust-hero-logo{
    font-size: 24px;
}

.second-text-header-links{
    font-size: 18px;
    color: #E5E7EB;
}

.header-margin-adjust{
    margin: 0;
    margin-block: 0;
}

button{
    border-radius: 30px;
    padding: 10px;
}

.full-body.flex-container{
    display: flex;
    flex-direction: column;

}

.full-body.flexcontainer > div{
    flex: 1 1 0;
}

.body1 > div {
    padding-bottom: 4em;
}

.body2 p, .body2 h6{
    margin: 0 25vw;
}

.body2 h6{
    text-align: right;
}

.body2{
    background-color: #E5E7EB;
}